@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* font fmily */
  --font-space-mono: "Space Mono", sans-serif;

  /* colors */
  --color-primary: #0079ff;
  --color-primary-hover: #60abff;
  --color-neutral: #141d2f;
  --color-neutral-soft: #4b6a9b;
  --color-neutral-100: #f6f8ff;
  --color-neutral-300: #697c9a;
  --color-neutral-500: #4b6a9b;
  --color-neutral-700: #2b3442;
  --color-neutral-800: #ffffff;
  --color-error: #f74646;

  /* /font size */
  --text-preset-1: 1.625rem; /* 26px */
  --text-preset-2: 1.375rem; /* 22px */
  --text-preset-3: 1.125rem; /* 18px */
  --text-preset-6: 0.9375rem; /* 15px */
  --text-preset-7: 0.8125rem; /* 13px */
  --text-preset-8: 0.8125rem; /* 13px */
}

@layer theme {
  .dark {
    --color-neutral: #ffffff;
    --color-neutral-soft: #90a4d4;
    --color-neutral-100: #141d2f;
    --color-neutral-300: #90a4d4;
    --color-neutral-500: #ffffff;
    --color-neutral-700: #ffffff;
    --color-neutral-800: #1e2a47;
  }
}
